/* Full screen background */
.login-page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #141414;
}

/* Login Card */
.login-box {
    width: 380px;
    padding: 40px;

    background: #1f1f1f;
    border-radius: 12px;

    text-align: center;

    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Heading */
.login-box h1 {
    color: white;
    margin-bottom: 10px;
    font-size: 2rem;
}

/* Subtitle */
.login-box p {
    color: #b3b3b3;
    margin-bottom: 30px;
}

/* Form */
.login-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Password Box */
.login-box input {
    padding: 14px;
    font-size: 16px;

    border: none;
    border-radius: 8px;

    background: #2c2c2c;
    color: white;

    outline: none;
}

.login-box input::placeholder {
    color: #888;
}

.login-box input:focus {
    border: 2px solid #e50914;
}

/* Button */
.login-box button {
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: #e50914;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.login-box button:hover {
    background: #f40612;
    transform: translateY(-2px);
}